
 h1 { 
    font-size: larger;
    font-family: cursive;
    color: rgb(0, 0, 0);
    
    text-size-adjust: 165;
    }
    p {
    font-size: medium;
    font-family: cursive;
    color: rgb(36, 36, 36);
    text-align: left;
    }
    pre {
      font-size: larger;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    body {
      text-align: left;
      background-color: rgb(240, 223, 203);
    }
    img {
      border-radius: 100px;
      width: 200px;
      height: 150px;
    }
    a {
      text-decoration: none;
      color: rgb(99, 33, 33);
    }
    a:hover {
      text-decoration: underline;
    }
    table,th,td {
      border: 1px solid black;
      border-collapse: collapse;
      background-color: rgb(206, 199, 188);
      color: rgb(26, 22, 22);
    }
    